<a href="https://colab.research.google.com/github/A00571258/Evidencia_Machine-Learning/blob/evidencia-1/Evidencia_Machine_Learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
#put your own path in google drive
%cd "/content/drive/MyDrive/Ciencia de datos/Aprendizaje Maquina"
!ls

/content/drive/MyDrive/Ciencia de datos/Aprendizaje Maquina
'17 Agosto.ipynb'		    'Sesión 2 Challenge'
'Copia de Ses03_Practice.ipynb'      Tarea_regresión.ipynb
'Evidencia_Machine Learning.ipynb'   Valhalla23.csv

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [7]:
# Ingresar datos
columns = ['Class','Alcohol', 'Malic acid', 'Ash',' Alcalinity of ash ','Magnesium','Total phenols','Flavanoids','Nonflavanoid phenols','Proanthocyanins','Color intensity','Hue','OD280/OD315 of diluted wines','Proline']
df = pd.read_csv('wine.data',names = columns)
df.head()

,Class,Alcohol,Malic acid,Ash,Alcalinity of ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid phenols,Proanthocyanins,Color intensity,Hue,OD280/OD315 of diluted wines,Proline
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

In [19]:
n1 = len(df)
print(n1)

178

## Preliminaries 

Dataset (train, validate)
Hyper-parameters (alpha, theta_initial)
Functions (hypothesis, cost function)

In [29]:
x_train = df['Alcohol'][0:100]
x2_train = df['Malic acid'][0:100]
y_train = df['Ash'][0:100]

x_validate = df['Alcohol'][100:n1]
y_validate = df['Malic acid'][100:n1]
x2_validate = df['Ash'][100:n1]

alpha = 0.00001 

n_train = len(y_train)

In [30]:
theta = [1,1,0.01] # Agregar un elemento 

h2 = lambda x,theta,x2: theta[0]+theta[1]*x+theta[2]*x2
alpha = 0.000000001

for idx in range(100000):
  acumDelta = []
  acumDeltaX = []
  acumDeltaX2 = []
  for x_i, y_i, x2_i in zip(x_train,y_train,x2_train): # Agregar la nueva dimensión
    acumDelta.append(h2(x_i,theta,x2_i)-y_i)
    acumDeltaX.append((h2(x_i,theta,x2_i)-y_i)*x_i)    
    acumDeltaX2.append((h2(x_i,theta,x2_i)-y_i)*x2_i) # Acumular para el nuevo theta    

  sJt0 = sum(acumDelta)  
  sJt1 = sum(acumDeltaX)
  sJt2 = sum(acumDeltaX2)
  theta[0] = theta[0]-alpha/n_train*sJt0
  theta[1] = theta[1]-alpha/n_train*sJt1
  theta[2] = theta[2]-alpha/n_train*sJt2 # ACtualizar el nuevo theta

print(theta)

[0.9988248204560674, 0.9844281735162478, 0.007822769110739165]

In [31]:
n_train = len(y_train)
n_validate = len(y_validate)


j2_i = lambda x,y,theta,x2: (h2(x,theta,x2)-y)**2

# Validación
acumDelta = []
for x_i, y_i,x2_i in zip(x_validate,y_validate,x2_validate):
  acumDelta.append(j2_i(x_i,y_i,theta,x2_i))  

sDelta = sum(acumDelta)  
J_validate = 1/(2*n_validate)*sDelta


# Training
acumDelta = []
for x_i, y_i,x2_i in zip(x_train,y_train,x2_train):
  acumDelta.append(j2_i(x_i,y_i,theta,x2_i))  

sDelta = sum(acumDelta)  
J_train = 1/(2*n_train)*sDelta


print(J_validate)
print(J_train)
print(theta)

56.846280547310144
68.13294707731912
[0.9988248204560674, 0.9844281735162478, 0.007822769110739165]

In [32]:
print("Nuestro modelo de predicción: z = ",theta[1]," x + ",theta[2]," y + ",theta[0])

Nuestro modelo: z =  0.9844281735162478  x +  0.007822769110739165  y +  0.9988248204560674

## Predicciones
Ya teniendo nuestro modelo, podemos realizar predicciones un conjunto de datos arbitrarios.

In [69]:
XX = np.linspace(min(df['Alcohol']),max(df['Alcohol']),num = 10)
YY = np.linspace(min(df['Malic acid']),max(df['Malic acid']),num = 10)
ZZ = [] #np.array([XX, YY, np.zeros(10)]).T
#print(ZZ.shape)

In [70]:
for i in range(len(YY)):
  ZZ.append(h2(XX[i],theta,YY[i]))

In [73]:
print(ZZ)

[11.862856423482226, 12.28290200915579, 12.702947594829356, 13.12299318050292, 13.543038766176485, 13.963084351850052, 14.383129937523615, 14.80317552319718, 15.223221108870744, 15.643266694544307]